apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: {{ meta.name }}
    app.kubernetes.io/component: {{ meta.name }}
    app.kubernetes.io/instance: {{ meta.name }}
  name: {{ meta.name }}
  namespace: {{ meta.namespace }}
spec:
  failedBuildsHistoryLimit: 1
  output:
    to:
      kind: ImageStreamTag
      name: {{ meta.name }}:latest
  postCommit: {}
  resources: {}
  runPolicy: Serial
  source:
    git:
      uri: {{ deploy_flask_app.gituri }}
      ref: {{ deploy_flask_app.ref | default('master') }}
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: python:3.6
        namespace: openshift
    type: Source
  successfulBuildsHistoryLimit: 2
  triggers: []
