apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  generation: 1
  labels:
    app: {{ meta.name }}
    app.kubernetes.io/component: {{ meta.name }}
    app.kubernetes.io/instance: {{ meta.name }}
  name: {{ meta.name }}
  namespace: {{ meta.namespace }}
