apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ meta.name }}
    app.kubernetes.io/component: {{ meta.name }}
    app.kubernetes.io/instance: {{ meta.name }}
  name: {{ meta.name }}
  namespace: {{ meta.namespace }}
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deploymentconfig: {{ meta.name }}
  sessionAffinity: None
  type: ClusterIP
